.bg-brand {
	background: #42a5f5;
	background: linear-gradient(30deg, #42a5f5 50%, #1e88e5 50%);
}

.bg-brandrev {
	background: #42a5f5;
	background: linear-gradient(-30deg, #1e88e5 50%, #42a5f5 50%);
}

.bg-greyalt {
	background: #546E7A;
	background: linear-gradient(30deg,#546E7A 50%,#212121 50%)
}

.bg-greyaltrev {
	background: #212121;
	background: linear-gradient(-30deg,#212121 50%,#546E7A 50%)
}

.bg-lightalt {
	background: #ECEFF1;
	background: linear-gradient(30deg,#ECEFF1 50%,#78909C 50%)
}

.bg-lightaltrev {
	background: #ECEFF1;
	background: linear-gradient(-30deg,#78909C 50%,#ECEFF1 50%)
}
