    <div class="footer container">
    <div class="wrapper">
      <div class="footer-top">
        <div class="footer-column">
          <a href="#" class="footer-logo">
            <img src="assets/img/limelight-logo-l2.svg" alt="Limelight Gaming"/>
          </a>
          <p>© 2021 Limelight Gaming Ltd.</p>
          <p>All rights reserved.</p>
        </div>
        <div class="footer-column footer-menu">
          <div class="column-title">Main</div>
          <a href="#"><i class="fa-solid fa-circle-info"></i> About</a>
          <a href="#"><i class="fa-solid fa-gamepad-modern"></i> Servers</a>
          <a href="#"><i class="fa-solid fa-code-branch"></i> Projects</a>
          <a href="#"><i class="fa-solid fa-user-astronaut"></i> Team</a>
        </div>
        <div class="footer-column footer-menu">
          <div class="column-title">Forums</div>
          <a href="#"><i class="fa-solid fa-messages"></i> Meta</a>
          <a href="#"><i class="fa-solid fa-jet-fighter"></i> Ares Defense Force</a>
          <a href="#"><i class="fa-solid fa-city"></i> CityRP</a>
          <a href="#"><i class="fa-solid fa-icons"></i> General</a>
          <a href="#"><i class="fa-solid fa-box-archive"></i> Archive</a>
        </div>
        <div class="footer-column footer-menu">
          <div class="column-title">Resources</div>
          <a href="#"><i class="fa-solid fa-circle-question"></i> Help & Support</a>
          <a href="#"><i class="fa-solid fa-comments-question-check"></i> FAQ</a>
          <a href="#"><i class="fa-solid fa-book-bookmark"></i> Terms of Service</a>
          <a href="#"><i class="fa-solid fa-user-secret"></i> Privacy</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-text">
          <p>Stroke-On-Trent, United Kingdom</p>
          <p>Company Number (England & Wales): 10152228</p>
        </div>
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-discord"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>

    <script src="assets/js/main.js"></script>
