<div class="nav container">
    <div class="wrapper">
      <a href="#">
        <img class="logo" src="assets/img/limelight-dark-logo.svg" alt="Limelight Gaming"/>
      </a>
      <div class="nav-links">
        {% for nav in site.data.nav %}
            {% include nav.item.html.liquid nav=nav %}
        {% endfor %}
        <!--<a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>-->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="nav-user">
        <a href="#" class="btn-nav signup">Sign Up</a>
        <a href="#" class="btn-nav login"><i class="fa-solid fa-user"></i> Log In</a>
      </div>
    </div>
  </div>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand"><img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Limelight Gaming"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for nav in site.data.nav %}
                {% include nav.item.html.liquid nav=nav %}
            {% endfor %}
        </ul>
    </div>
</nav>

-->