
/* Global */

@font-face {
  font-family: 'Roobert';
  src: url('../font/Roobert-Regular.woff2') format('woff2'),
       url('../font/Roobert-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../font/Roobert-SemiBold.woff2') format('woff2'),
       url('../font/Roobert-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../font/Roobert-Bold.woff2') format('woff2'),
       url('../font/Roobert-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark-400: #adb3cb;
  --dark-500: #595F77;
  --dark-600: #323646;
  --dark-700: #242A38;
  --dark-750: #1F2431;
  --dark-800: #181D29;
  --dark-900: #0F131A;
  --limelight-blue: #42a5f5;
  --limelight-bluealt: #0C80DE;

  --heading-font-family: 'Roobert', sans-serif;
  --body-font-family: 'Roboto', sans-serif;
}

html {
  color: var(--dark-400);
  background: var(--dark-900);
  font-family: var(--body-font-family);
  font-feature-settings: 'salt' on;
}

h1,h2,h3,h4,h5,h6 {
  color: #FFF;
  font-family: var(--heading-font-family);
  line-height: normal;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

h3 {
  padding-bottom: 18px;
  font-size: 22px;
  font-weight: 500;
}

p {
  font-size: 15px;
  line-height: 20px;
}

a {
  color: var(--limelight-blue);
  text-decoration: none;
}

a.btn {
  padding: 13px 18px;
  color: #FFF;
  background: var(--limelight-bluealt);
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font-family);
  border-radius: 24px;
  display: inline-block;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: .15s;
}

a.btn:hover {
  color: #FFF;
  background: var(--limelight-blue);
}

a.btn i {
  padding-right: 6px;
  font-size: 15px;
}

a.btn-tertiary {
  color: var(--dark-400);
  background: none !important;
  box-shadow: none;
}



/* Container */

.container {
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}



/* Navigation */

.nav .wrapper {
  position: sticky;
  height: 60px;
  padding-top: 28px;
  font-family: var(--heading-font-family);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav img.logo {
  width: auto;
  height: 40px;
}

.nav .nav-links {
  height: 100%;
  display: flex;
  grid-column-gap: 30px;
}

.nav .nav-links a {
  color: var(--dark-400);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav .nav-user {
  display: flex;
  grid-column-gap: 8px;
}

.nav a.btn-nav {
  padding: 7px 10px;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  background: var(--dark-600);
  border-radius: 4px;
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  transition: .15s;
}

.nav a.btn-nav.signup {
  background: var(--limelight-bluealt);
}

.nav a.btn-nav:hover {
  background: var(--limelight-blue);
}

.nav a.btn-nav i {
  font-size: 11px;
}



/* Hero */

.hero .wrapper {
  padding-top: 20rem;
  padding-bottom: 10rem;
}

.hero h1 {
  max-width: 830px;
}

.hero .hero-btns {
  margin-top: 60px;
  display: flex;
  grid-column-gap: 20px;
}



/* Serivce */

.service .wrapper {
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.service .service-columns {
  margin-top: 108px;
  display: flex;
  grid-column-gap: 30px;
}

.service .service-single {
  padding: 30px 20px;
  text-align: center;
  background: var(--dark-800);
  border: 1px solid var(--dark-700);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service .service-single:hover .service-icon {
  color: #FFF;
  background: var(--limelight-blue);
  border: 1px solid var(--limelight-bluealt);
}

.service .service-icon {
  margin-top: -60px;
  margin-bottom: 24px;
  width: 56px;
  height: 56px;
  color: var(--dark-400);
  background: var(--dark-700);
  border: 1px solid var(--dark-600);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  transition: .15s;
}

.service .service-icon i {
  font-size: 24px;
}
