html {
    color: var(--dark-400);
    background: var(--dark-900);
    font-family: var(--body-font-family);
    font-feature-settings: 'salt' on;
}

.team .team-single {
    padding: 30px 20px;
    background: var(--dark-800);
    border: 1px solid var(--dark-700);
    border-radius: 4px;
}

.team .team-grid {
    max-width: fit-content;
}

.nav .nav-links a {
    position: relative;
}

.nav .nav-links a:after {
    background: #0c80de;
    height: 4px;
    width: 0%;
    position: absolute;
    content: "";
    bottom: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #0c80de;
    transition: all linear 0.5s;
    left: 0;
    right: 0;
    margin: auto;
}
.nav .nav-links a:hover:after {
    width: 100%;
}