---
date: 2020-1-2
title: BBCode / Markdown Converter
id: bbcode
media:
  - src: assets/img/bbcode.png
    alt: Part of the Converter code.
---
<p>
    The BBCode Markdown converter was written with the aim of providing bi-directional conversion between Markdown and BBCode.
    Whilst there are many converters that go from BBCode to Markdown, we found none that go the other way. So, we wrote our own.
</p>
<p>
    The code is written in PHP and licensed under the MIT license.
    The source can be found on <a href="https://github.com/limelight-development/bbcode-markdown-converter">GitHub</a>, or downloaded by <a href="https://packagist.org/packages/limelight/bbcode-markdown-converter">Composer via Packagist</a>.
</p>