---
title: Limelight - DB Processor
date: 2020-1-3
id: dbproc
media:
  - src: assets/img/db-processor.png
    alt: Part of the Processor code.
---
<p>
    The DB Processor is a procedural PHP-CLI script used to process INSERT statements based on key-value maps into a database.<br />
    Processing includes escaping the values (prepared-statements).<br><br>

    It is available as a standalone script, docker, and GitHub-Action.<br><br>

    We use this action along with our commit-parser script in our CD (Continuous Deployment) workflow,
    in order to keep track of commits in the <a href="https://limelightgaming.net/services/changelogs/index.php" target="_blank">Changelog-Viewer</a> and <a href="https://limelightgaming.net/forums/thread-9105-post-100122.html#pid100122" target="_blank">in-game Update-Announcer</a>.<br>
</p>
<p>
    The code is written in PHP, Shell and licensed under the MIT license.
    The source can be found on <a href="https://github.com/limelight-development/db-processor">GitHub</a>, or on the <a href="https://github.com/marketplace/actions/db-processor">GitHub Marketplace</a>.
</p>