---
date: 2020-1-1
title: "L² Plates"
id: l2-plates
media:
  - src: https://plates.limelightgaming.info/img/pickup.webp
    alt: "The L² Plates system."
---
<p>
    L² plates is a custom designed system for putting license plates on vehicles.
    The code is written in Lua, with the complete system sold online at <a href="https://www.gmodstore.com/market/view/l2-plates">GModStore</a>.
</p>
<p>
    The system was designed from the ground up to be efficient, easy to use and optimised. You can find out more at <a href="https://l2-plates.info/">l2-plates.info</a>!
</p>