---
title: Development Standards
date: 2020-1-4
id: standards
media:
  - src: assets/img/lsd1.png
    alt: Development Standard #1
---
<p>
    Whilst all our developers work to a high standard, it's easier to work together when things are standardized.
    To that end, we created our <a href="https://github.com/limelight-development/standards">standards documents</a>.
    These are our various standards, written up in asciidoc.
</p>
<p>
    These documents provide various standards and styles for languages and resources, making it easier for developers to work together.
</p>