<div class="team-single">
	<div class="team-header">
		{% assign avatar_png = '/assets/avatars/' | append: page.slug | append: '.png' | relative_url %}
		<img src="{{ page.avatar | default: avatar_png }}">
		<div class="team-title">
		<div class="team-name">{{ page.name}}</div>
		<p class="sm">{{ page.role}}</p>
	  </div>
	</div>
	<p class="team-bio">{{ page.content }}</p>
	<div class="team-footer">
	  	{% if page.links and page.links.size > 0 %}
		  	{% if page.links.profile %}<a href="https://discourse.limelightgaming.info/u/{{ page.links.steam }}" class="btn-team btn-team-primary" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> Profile</a>{% endif %}
			{% if page.links.steam %}<a href="https://steamcommunity.com/{{ page.links.steam }}" class="btn-team" target="_blank"><i class="fab fa-steam-symbol"></i> Steam</a>{% endif %}
			{% if page.links.github %}<a href="https://github.com/{{ page.links.github }}" class="btn-team" target="_blank"><i class="fab fa-github"></i> GitHub</a>{% endif %}
			{% if page.links.discord %}<a href="https://steamcommunity.com/{{ page.links.discord }}" class="btn-team" target="_blank"><i class="fab fa-discord"> Discord</i></a>{% endif %}
  		{% endif %}
	</div>
  </div>