<div class="lldev-team-box-indv">
	<div class="lldev-team-box-top">
		<div class="lldev-team-avatar">
			{% assign avatar_png = '/assets/avatars/' | append: page.slug | append: '.png' | relative_url %}
			<img src="{{ page.avatar | default: avatar_png }}">
		</div>
		<div class="lldev-team-details">
			<div class="member-title">
				<div class="member-name">{{ page.name | markdownify }}</div>
				<div class="member-role">{{ page.role | markdownify }}</div>
			</div>
			<div class="member-desc">
				{{ page.content }}
			</div>
		</div>
	</div>
	<div class="member-social">
		{% if page.links and page.links.size > 0 %}
			{% if page.links.steam %}<a href="https://steamcommunity.com/{{ page.links.steam }}" class="steam-link"><i class="fab fa-steam-symbol"></i></a>{% endif %}
			{% if page.links.github %}<a href="https://github.com/{{ page.links.github }}" class="steam-link"><i class="fab fa-github"></i></a>{% endif %}
			{% if page.links.discord %}<a href="https://steamcommunity.com/{{ page.links.discord }}" class="steam-link"><i class="fab fa-discord"></i></a>{% endif %}
		{% endif %}
	</div>
</div>
